<!DOCTYPE html>
<html>
  <head>
    <title>HumanizeFace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Font Awesome CDN -->
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">

    <!-- Additional Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

    <!-- Highcharts CDN -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

    
  </head>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="logo-container">
          <span class="navbar-brand" style="margin-top: -.16em;"><a href="/"><%= image_tag "h-bot-head2.png", height: 70, width: 55 %></a></span>
        </div>
        <div class="brand-name-container">
          Humanize<br>Bot
        </div>
      </div>

      <div class="nav navbar-nav navbar-right homepage-nav-container">
        <a href="#about">About</a>
        <a href="#data">Data</a>
        <a href="#privacy">Privacy</a>
      </div>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
